<div class="registro-wrapper">
<div class="registro-container">
  <h1>CREAR PARTIDA</h1>

  <div class="jugador">
    <h2>JUGADOR 1</h2>
    <select [(ngModel)]="jugador1" name="jugador1Select">
      <option *ngFor="let user of usuarios" [ngValue]="user">
        {{ user.name }}
      </option>
    </select>
  </div>

  <div class="jugador">
    <h2>JUGADOR 2</h2>
    <select [(ngModel)]="jugador2" name="jugador2Select">
      <option *ngFor="let user of usuarios" [ngValue]="user">
        {{ user.name }}
      </option>
    </select>
  </div>

  <div class="botones">
    <button (click)="jugar()">JUGAR</button>
    <button (click)="RegistrarUsuario()">REGISTRAR JUGADOR</button>
  </div>
</div>
</div>
